h1 {
    color: brown;
    font-family: 'Typemachine';
    font-size: 300%;
  }

 body {background-color: lightgray;}

 p {
    color: black;
    font-family: 'Courier';
    font-size: 130%;
  }

  @font-face {
      font-family: "Typemachine";
      src: url(TypeMachine.ttf) format("truetype");
  }